/* Styles for the Advanced Markup assignment. */

/* ---WHOLE DOCUMENT--- */
html {
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	font-family: 'IM Fell English', serif;
	border-top: 0;
	border-bottom: 0;
}
/* LINKS */
a {
	text-decoration: none;
	color: graytext;
}
a.active {
	color: seagreen;
	font-weight: bold;
	font-family: 'Alegreya Sans SC', sans-serif;
}
body {
	margin: 0;
	background: rgb(144, 228, 151);
}
h1,h2,h3,h4,h5,h6 {
	font-family:'Alegreya Sans SC', sans-serif;
	margin: 0;
}
h2, h3 {
	text-align: center;
	padding: 15px;
}
.small-text,sup {
	font-size: small;
}

/* LISTS */
li {
	list-style-type: none;
	display: inline-block;
}

/* NAVIGATION */
.top-nav, .bottom-nav {
	background-color: white;
	margin-top: 0px;
    margin-bottom: 1rem;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 130%;
	width: 100%;
}
.top-nav li, .bottom-nav li{
	color: black;
	padding-top: 5px;
	padding-left: 0;
	padding-right: 52px;
	padding-bottom: 5px; 
}


/* ---ASIDE--- */

aside#sidebar {
/* layout */
	float: right;
 	margin-top: 4px; 
	margin-left: 1rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
	overflow: auto;
	padding: 0px;
	width: 20%;
/* content */
	background: white;
	font-family: serif;
	font-size: large;
	line-height: 1.5rem;
}

aside#sidebar p, #sidebar dl {
	margin-top: 0;
	margin-left: 18px;
	margin-right: 18px;
	margin-bottom: 0;
}
/* DEFINITION LIST */
dt {
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: large;
	text-decoration: underline;
}


/* HEADER */
header {
	background-image: url("Leaves.jpg");
	background-position: center;
	margin: 0;
}
h1 {
	color: white;
}
#page-header {
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 0;
    padding-bottom: 20px;
	font-size: 300%;
}

/* ---SECTION--- */
section {
	background-color: white;
	margin: 1rem;
	margin-left: 30px;
	line-height: 2rem;
	width: 70%;
}
section#content p {
	margin-left: 25px;
    margin-right: 25px;
	overflow: auto;
}
.poem {
	font-size: larger;
	line-height: 3rem;
	letter-spacing: 3px; 
    padding-top: 4rem;
    padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 4rem;
	text-align: center;
}
.poem li::first-letter {
	font-size: larger;
	font-weight: bolder;
}
img {
	height: 280px;
	width: auto;
}
p.bio-photo {
	float: left;
	font-size: small;
	font-family: 'Alegreya Sans SC', sans-serif;
	line-height: 12px;
	padding-top: 14px;
    padding-bottom: 0px;
	margin-left: 0px;
    margin-right: 0px;
	width: 200px;
}
/* TABLE */
caption {
	font-size: small;
	text-align: center;
    width: 100%;
}
hr {
    width: 75%;
    margin-top: 7%;
    margin-bottom: 5%;
}
#selected_works {
	font-family: serif;
    height: 5%;
	padding-top: 0;
	padding-left: 7%;
    padding-right: 5%;
    padding-bottom: 10%;
	position: center;
}
/* inline selector for table heading */
th {
	font-family: 'Alegreya Sans SC', sans-serif;
    font-size: larger;
    text-decoration: underline;
    padding-left: 0;
    padding-right: 10%;
    text-align: left;
}

/* FOOTER */
footer {
	background-image: url("Leaves.jpg");
	background-position: center;
	display: block;
	height: 100px;
}
footer li, .credits {
	color: white;
}
ul.biblography, p.credits {
	margin: 0;
	padding-top: 20px;
	padding-left: 40px;
	padding-right: 0;
    padding-bottom: 0;
}
/* CITATIONS */
#sidebar ul li, #citation-1, #citation-2, #citation-3, #copywright, .credits{ 
	display: inline;
	font-family: 'Alegreya Sans SC', sans-serif;
}

